.hrStyle {
    margin: 0 15%;
}
.hrStyles {
    margin: 10% 15% 5%;
}
.pStyle {
    line-height: 1.7rem;
}
footer {
    margin-top: 6em;
    background-color: $site-secondary-color;
    padding-bottom: 2em;
}