body{
    // background-color: #123140;
    background-color: #23373b;
    color: white;
}

.card{
    background-color: transparent;
    border: 1px solid rgba(255, 255, 255, 0.5);
}

.blogImg{
    max-height: 40%!important;
}

.headerPadding{
    padding-left: 45px;
    margin-top: 2.5em;
}

.no-border{
    border: 0;
}

.weatherImage{
    width: 100%;

}

.companyLogo{
    height: 11em;
}

.pt-8{
    margin-top: 2.5em;
}