body {
    // background-color: #123140;
    background-color: $site-primary-color;
    color: $text-color;
}
.card {
    background-color: transparent;
    border: 1px solid $card-border-color;

    &-img-top {
        height: 28em;
    }
}
.btn {
    &-primary {
        background-color: $site-button-color;
        border-color: $site-button-color;

        &:hover {
            background-color: $site-hover-button-color;
            border-color: $site-hover-button-color;
        }

        &:focus {
            background-color: $site-hover-button-color;
            border-color: $site-hover-button-color;
        }
    }

    &-logout {
        width: 10%;
        margin-left: 90%;
        margin-top: 3.55em;
    }
}
.blogImg {
    max-height: 40% !important;
}
.headerPadding {
    padding-left: 45px;
    margin-top: 2.5em;
}
.no-border {
    border: 0;
}
.weatherImage {
    width: 100%;
}
.companyLogo {
    height: 11em;
}
.pt-8 {
    margin-top: 2.5em;
}
.search-form {
    width: 50%;
    margin-left: 15px;
}
.profileCard {
    background-color: transparent;
    padding: 35px 0px 35px 0px;
    border: 1px solid $card-border-color;
}
.searchResult {
    padding-left: 15px;
    flex-wrap: nowrap;
    overflow-x: scroll;
}
.test {
    position: absolute;
    margin-left: 95%;
    top: 6.5em;
    z-index: 900;
    color: $logout-button;
    font-size: 60px;
}
.padding-l-15 {
    padding-left: 15px;
}
.errorMessage{
    color: $error-color;
    font-size: larger;
}


.wrap{
    flex-wrap: wrap;
}

.job__image{
    width: 100%;
    height: 350px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
}


.jumbotronImage{
    &-Blog{
        background-image: url('../../assets/blogHeader.png');
        width: 100%;
        padding-top: 4em;
        padding-bottom: 4em;
        margin-bottom: 4em;
        height: 30em;
    }
    &-Job{
        background-image: url('../../assets/jobHeader-02.png');
        width: 100%;
        padding-top: 4em;
        padding-bottom: 4em;
        margin-bottom: 4em;
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center center;
        height: 30em;

    }

}