.navbar-expand-lg .navbar-collapse{
    justify-content: flex-end;
}
.navbar{
    background-color: $site-secondary-color;
}
.navbar-light .navbar-brand{
    color: $text-color;
}
.navbar-light .navbar-nav .nav-link{
    color: $text-color;
}
