$site-primary-color: #23373b;
$site-secondary-color: #172427;
$site-button-color: #ca6600;
$site-hover-button-color: #9c4e00;
$logout-button: #fa7d00;
$text-color: white; 
$card-border-color: rgba(255, 255, 255, 0.5);
$error-color: red; 